@{
    ViewData["Title"] = "登入或註冊";
    Layout = "_LoginEmptyLayout";
    var returnUrl = Context.Request.Query["ReturnUrl"];
}

@section topCSS{
    <link rel="stylesheet" href="~/css/Login/Login.css">
}

@section endJS{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="~/js/Login/fb_login.js"></script>

}

<section class="d-flex align-items-end ">
    <div class="form-container">
        <div >
            <!-- 確認Email是否存在 -->
            <div id="step-checkEmail" >                
                <div class ="position-relative">
                    <input type="button" class="btn-close position-absolute ms-3" data-bs-dismiss="modal" aria-label="Close" />
                    <h5 class="text-center mt-3" id="exampleModalLabel">登入或註冊</h5>
                </div>
                <hr />
                <div class="modal-body">
                    <h3 class="loginh3">Airdnd 歡迎你</h3>
                    <form class="mt-4">
                        <div class="form-floating mb-2">
                            <input type="email" name="Email" class="form-control" id="check-email" placeholder="電子郵件" inputmode="email" autocomplete="off" required>
                            <label for="floatingInput">電子郵件</label>
                        </div>
                        <p class="lh-1 mt-0 loginp">我們會寄email，以確認你的電子信箱。<a href="#">私隱政策</a> </p>
                        <div class="control rounded rounded-2 mb-4">
                            <button type="submit" class="btn fw-bold" id="continuebtn">繼續</button>
                        </div>
                    </form>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="line col-5"></div>
                        <span class="col-1 text-center or">或</span>
                        <div class="line col-5"></div>
                    </div>
                    <div class="btn fw-bold w-100 mt-3 lh-lg sso sso-fb">
                        <img src="~/img/Login-img/fb_icon.png" alt="Facebook" class="fb">
                        <p class="col-11 loginp">繼續使用Facebook登入</p>
                    </div>
                    <div class="btn fw-bold w-100 mt-3 lh-lg sso sso-google">
                        <img src="~/img/Login-img/Google__G__Logo.svg.png" alt="Google" class="google">
                        <p class="col-11 loginp">繼續使用Google登入</p>
                    </div>
                    <div class="btn fw-bold w-100 mt-3 lh-lg sso ">
                        <i class="fa-brands fa-line "></i>
                        <p class="col-11 loginp " >繼續使用Line登入</p>
                    </div>
                    <div class="btn fw-bold w-100 mt-3 lh-lg sso">
                        <i class="fa-solid fa-envelope"></i>
                        <p class="col-11 loginp">使用信箱登入</p>
                    </div>
                </div>
            </div>
            <!-- 密碼登入 -->
            <div id="step-login" hidden>
                <div class="position-relative">
                    <div class="position-absolute rounded rounded-circle icon d-flex">
                        <i class="fa-solid fa-chevron-left" id="prevLogin"></i>
                    </div>
                    <h5 class="modal-title text-center mt-3" id="exampleModalLabel">登入</h5>
                </div>
                <hr />
                <div class="modal-body">
                    <form action="Login/Login" method="post" class="mt-4">
                        @*<input id="login-email" name="Email" hidden/>*@
                        <div class="form-floating mb-3">
                            <input class="form-control d-flex" name="Password" id="login-password" placeholder="密碼" spellcheck="false" type="password" autocomplete="off" required>
                            <label for="floatingInput">密碼</label>
                        </div>
                            <span id="errorMessage" class="text-danger"></span>
                        <div class="inputfield mb-3 d-none" id="email-signup-password-InputField-help">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span>需要填寫密碼。</span>
                        </div>
                        <div class="control rounded rounded-2 mb-3">
                            <button type="submit" id="loginbtn" class="btn fw-bold">登入</button>
                        </div>
                    </form>    
                    <div class="fg-password" id="forget-password-link">
                        <a href="#">
                            <p class="fw-bolder loginp">忘記密碼?</p>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 註冊 -->
            <div id="step-signup" hidden>
                <div class="position-relative">
                    <div class="position-absolute rounded rounded-circle icon d-flex">
                        <i class="fa-solid fa-chevron-left" id="prevSignup"></i>
                    </div>
                    <h5 class="modal-title text-center mt-3" id="exampleModalLabel">完成註冊</h5>
                </div>
                <hr />
                <div class="modal-body">
                    <form action="#" class="mt-4">
                        <div class="form-floating mb-0">
                            <input type="text" class="form-control f-name" id="first-name" placeholder="名字" required>
                            <label for="floatingInput">名字</label>
                        </div>
                        <div class="form-floating mb-2 l-name">
                            <input type="text" class="form-control l-name" id="last-name" placeholder="姓氏" required>
                            <label for="floatingInput">姓氏</label>
                        </div>
                        <p class="lh-1 mt-0 loginp">請確保與政府核發的身分證件上的姓名一致。</p>
                        <div class="form-floating mt-4 mb-2">
                            <input required type="date" class="form-control" id="birthday" autocomplete="off" placeholder="出生日期" value="">
                            <label for="floatingInput">生日</label>
                        </div>
                        <p class="lh-1 mt-0 loginp">您必須年滿18歲，才能註冊帳號。 我們不會將您的生日透露給其他Airbnb用戶。 </p>
                        <div class="form-floating mb-2">
                            <input class="form-control" id="email" placeholder="電子郵件" type="email" inputmode="email" autocomplete="off" required>
                            <label for="floatingInput">電子郵件</label>
                        </div>
                        <p class="lh-1 mt-0 loginp">我們會透過電子郵件傳送預訂確認和收據給您。 </p>
                        <div class="form-floating mb-2">
                            <input class="form-control" id="password" data-testid="email-signup-password" placeholder="密碼" type="password" autocomplete="off" required>
                            <label for="floatingInput">密碼</label>
                        </div>
                        <p class="loginp">選擇同意並繼續，即表示我同意 Airbnb 的<a href="#" class="d-inline">服務條款</a>、<a href="#" class="d-inline">支付服務條款</a>、<a href="#" class="d-inline">反歧視政策</a>和<a href="#" class="d-inline">隱私政策</a> </p>
                        <div class="control rounded rounded-2 mb-4">
                            <button type="submit" id="signupbtn" class="btn fw-bold" data-veloute="submit-btn-cypress">同意並繼續</button>
                        </div>
                    </form>                    
                    <hr class="w-100">
                    <div>
                        <p class=" loginp">Airbnb 會傳送用戶專屬優惠、激發旅遊靈感的素材、行銷電子郵件和推播通知給你。你可以隨時到「帳號設定」或直接在行銷通知中取消訂閱。</p>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            我不想收到有關 Airbnb 的行銷資訊。
                        </label>
                    </div>
                </div>
            </div>
            <!-- 忘記密碼 -->
            <div id="step-forgetPassword" hidden>
                <div class="position-relative">
                    <div class="position-absolute rounded rounded-circle icon d-flex">
                        <i class="fa-solid fa-chevron-left" id="prevForgetPassword"></i>
                    </div>
                    <h5 class="modal-title text-center mt-3" id="exampleModalLabel">忘記密碼</h5>
                </div>
                <hr />
                <div class="modal-body">
                    <div>
                        <p class=" loginp">請輸入與您的帳號關聯的電子信箱地址，我們會透過電子郵件向您寄送重設密碼的連結。</p>
                    </div>
                    <form action="#" class="mt-3 mb-3">
                        <div class="form-floating mb-2">
                            <input name="EmailField" class="form-control" id="forget-password-email" placeholder="電子郵件" type="email" inputmode="email" autocomplete="off" required>
                            <label for="floatingInput">電子郵件</label>
                        </div>
                        <span id="errorMessage"></span>
                        <div class="control rounded rounded-1 mt-5">
                            <button type="submit" id="forgetPasswordbtn" class="btn fw-bold reset">傳送重設連結</button>
                        </div>
                    </form>
                    
                </div>
            </div>
            <!-- 密碼重設信已寄送 -->
            <div id="step-sendResetPassword" hidden>
                <div class="position-relative">
                    <button type="button" class="btn-close position-absolute ms-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h5 class="modal-title text-center mt-3">密碼重設信已寄送</h5>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
        let stepCheckEmail = document.querySelector("#step-checkEmail")
        let stepLogin = document.querySelector("#step-login")
        let stepSignup = document.querySelector("#step-signup")
        let stepForgetPassword = document.querySelector("#step-forgetPassword")
        let stepSendResetPassword = document.querySelector("#step-sendResetPassword")


        //帳號是否存在
        let checkEmail = document.querySelector("#check-email")
        let continueBtn = document.querySelector("#continuebtn")

        //註冊
        let signupBtn = document.querySelector("#signupbtn")
        let firstName = document.querySelector("#first-name")
        let lastName = document.querySelector("#last-name")
        let birthday = document.querySelector("#birthday")
        let email = document.querySelector("#email")
        let password = document.querySelector("#password")

        //密碼登入
        let loginEmail = document.querySelector("#login-email")
        let loginPassword = document.querySelector("#login-password")
        let loginBtn = document.querySelector("#loginbtn")
        let forgetPasswordLink = document.querySelector("#forget-password-link")

        let loginModal = document.querySelector("#loginModal")
        let errorMessage = document.querySelector('#errorMessage')
        let headers = {
            "Content-Type": "application/json",
            "Accept": "application/json"
        }

        //忘記密碼
        let forgetPasswordEmail = document.querySelector("#forget-password-email")
        let forgetPasswordbtn = document.querySelector("#forgetPasswordbtn")

        //前一頁
        let prevLogin = document.querySelector("#prevLogin")
        let prevSignup = document.querySelector("#prevSignup")
        let prevForgetPassword = document.querySelector("#prevForgetPassword")

        let returnUrl = '@returnUrl'
        const BASE_URL = 'https://localhost:5001'
        //let IsLoginFail = '@ViewData["IsLoginFail"]'

        const btn = document.querySelector('.LineBtn')

        window.onload = function () {
            //if (IsLoginFail == 'True') 
            //{
            //    ShowLoginPage()
            //}

            continueBtn.addEventListener("click", function () {
                CheckEmail()
            })
            signupBtn.addEventListener("click", function () {
                Signup()
            })
            loginBtn.addEventListener("click", function () {
                Login()
            })
            forgetPasswordLink.addEventListener("click", function () {
                ShowForgetPasswordPage()
            })
            forgetPasswordbtn.addEventListener("click", function () {
                ForgetPassword()
            })
            prevLogin.addEventListener("click", function () {
                PrevLogin()
            })
            prevSignup.addEventListener("click", function () {
                PrevSignup()
            })
            prevForgetPassword.addEventListener("click", function () {
                PrevForgetPassword()
            })
        }


        function CheckEmail() {
            continueBtn.setAttribute('disabled', '')
            axios.post(`/api/LoginApi/CheckEmail/${checkEmail.value}`)
                .then((res) => {
                    if (res.status == 200) {
                        stepCheckEmail.setAttribute('hidden', '')
                        if (res.data) {
                            //登入
                            stepLogin.removeAttribute('hidden')
                        }
                        else {
                            //註冊
                            //帶入Email
                            email.value = checkEmail.value
                            stepSignup.removeAttribute('hidden')
                        }
                    }
                })
                .catch((err) => {
                    console.log(err)
                    continueBtn.removeAttribute('disabled')
                })
        }

        function Signup() {
            let data = {
                name: lastName.value + firstName.value,
                birthday: birthday.value,
                email: email.value,
                password: password.value
            }
            signupBtn.setAttribute('disabled', '')
            axios({
                method: 'post',
                url: '/api/LoginApi/Signup',
                data: data,
                headers: headers
            })
                .then((res) => {
                    if (res.data.status == 2000) {
                        //註冊成功
                    }
                    else {
                        //註冊失敗
                    }
                })
                .catch((err) => {
                    console.log(err)
                    signupBtn.removeAttribute('disabled')
                })
        }

        function Login() {
            let data = {
                email: checkEmail.value,
                password: loginPassword.value
            }
            loginBtn.setAttribute('disabled', '')
            axios({
                method: 'post',
                url: '/api/LoginApi/Login',
                data: data,
                headers: headers
            })
                .then((res) => {
                    if (res.data.status == 2000) {
                        if(returnUrl == ''){
                            window.location.replace(BASE_URL)
                        }
                        window.location.replace(returnUrl)
                    }
                    else {
                        errorMessage.innerText = res.data.msg
                        loginBtn.removeAttribute('disabled')
                    }
                })
        }

        function ShowLoginPage(){
            stepCheckEmail.setAttribute('hidden', '')
            stepLogin.removeAttribute('hidden')
        }

        function ShowForgetPasswordPage() {
            stepLogin.setAttribute('hidden', '')
            stepForgetPassword.removeAttribute('hidden')
        }

        function ForgetPassword() {
            axios.post(`/api/LoginApi/ForgetPassword/${forgetPasswordEmail.value}`)
                .then((res) => {
                    if (res.status == 200) {
                        if (res.data.status == 2000) {
                            //信箱正確
                            stepForgetPassword.setAttribute('hidden', '')
                            stepSendResetPassword.removeAttribute('hidden')
                        }
                        else {
                            errorMessage.innerText = res.data.msg
                        }
                    }

                })
        }

        function PrevLogin() {
            stepLogin.setAttribute('hidden', '')
            stepCheckEmail.removeAttribute('hidden')
            continueBtn.removeAttribute('disabled')
        }

        function PrevSignup() {
            stepSignup.setAttribute('hidden', '')
            stepCheckEmail.removeAttribute('hidden')
            continueBtn.removeAttribute('disabled')
        }

        function PrevForgetPassword() {
            stepForgetPassword.setAttribute('hidden', '')
            stepLogin.removeAttribute('hidden')
            loginBtn.removeAttribute('disabled')
        }

</script>



