
@{
    ViewData["Title"] = "更新密碼";
    //var errorMsg = ViewData["errorMessage"];
}

<body>
    <section class="d-flex align-items-end ">
        <div class="form-container">
            <div class="position-relative">
                <div class="position-absolute rounded rounded-circle icon d-flex">
                    <i class="fa-solid fa-xmark "></i>
                </div>
                <h1>更新密碼</h1>
            </div>
            <hr class="mt-4 mb-4">
            <div>
                <p>必須包含至少一個符號或數字，且長度不得少於 8 個字元。</p>
            </div>
            <div role="status" class="warn d-flex rounded rounded-1 d-none" id="errorMessage">
                <div class="col-1">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div class="col-11 ps-2">
                    <h2>請再試一次</h2>
                    <p>@ViewData["errorMessage"]</p>
                </div>
            </div>
            <form asp-action="ResetPassword" method="post" class="mt-3 mb-4">
                <input name="Email" class="form-control" value="@ViewData["email"]" hidden>
                <div class="form-floating mb-3">
                    <input name="Password" class="form-control" placeholder="密碼" type="password" inputmode="email" autocomplete="off" required>
                    <label for="floatingInput">密碼</label>
                </div>
                <div class="form-floating mb-2">
                    <input name="CheckPassword" class="form-control" placeholder="重新輸入密碼"  type="password" autocomplete="off" required>
                    <label for="floatingInput">重新輸入密碼</label>
                </div>
                <div class="control rounded rounded-1 ">
                    <input type="submit" value="更新" class="btn fw-bold reset">
                </div>
            </form>
            
        </div>
    </section>
</body>

@section topCSS{
    <link rel="stylesheet" href="~/css/Login/Resetpassword.css" />
}

<script>
        let errorMessage = document.querySelector("#errorMessage")

        window.onload = function(){
            if ('@ViewData["errorMessage"]' != '') {
                errorMessage.classList.remove('d-none')
            }
        }
        


</script>


