<footer>
	<div class="container">
		<div class="footer-top d-md-flex">

			<div class="container mt-3 mt-md-0 ">
				<p class="title">用戶支援</p>
				<a href="javascript:;">說明中心</a>
				<a href="javascript:;">AirCover</a>
				<a href="javascript:;">安全資訊</a>
				<a href="javascript:;">支援身心障礙人士</a>
				<a href="javascript:;">退訂選項</a>
				<a href="javascript:;">我們的新冠肺炎因應措施</a>
				<a href="javascript:;">回報社區問題</a>
			</div>
			<div class="container mt-3 mt-md-0">
				<p class="title">社區</p>
				<a href="javascript:;">Airdnd.org：救災住宿</a>
				<a href="javascript:;">支援阿富汗難民</a>
				<a href="javascript:;">消弭歧視</a>
			</div>
			<div class="container mt-3 mt-md-0">
				<p class="title">出租房源</p>
				<a href="javascript:;">開始出租／舉辦體驗</a>
				<a href="javascript:;">專為房東提供的 AirCover</a>
				<a href="javascript:;">瀏覽待客資源</a>
				<a href="javascript:;">前往我們的社區論壇</a>
				<a href="javascript:;">落實負責任出租和舉辦體驗的方法</a>
			</div>
			<div class="container mt-3 mt-md-0">
				<p class="title">Airbnb
				<p>
					<a href="javascript:;">Airdnd 新聞中心</a>
					<a href="javascript:;">了解新功能</a>
					<a href="javascript:;">來自 Airbnb 創辦人的信</a>
					<a href="javascript:;">工作機會</a>
					<a href="javascript:;">投資人</a>
			</div>
		</div>
		<div class="footer-bottom d-md-flex justify-content-md-between">
			<div class="d-flex align-content-center bfa">
				<p><i class="fa-regular fa-copyright"></i>2022 Airdnd, Inc</p>
				<a href="javascript:;">隱私</a>
				<a href="javascript:;">相關條款</a>
				<a href="javascript:;">網站地圖</a>
			</div>
			<div class="d-flex">
				<div class="d-flex">
					<p><i class="fa-solid fa-earth-asia"></i>繁體中文 (TW)</p>
					<p><i class="fa-solid fa-dollar-sign"></i>TWD</p>
				</div>
				<div class="social d-flex">
					<i class="fa-brands fa-square-twitter"></i>
					<i class="fa-brands fa-line"></i>
					<i class="fa-brands fa-square-facebook"></i>
					<i class="fa-brands fa-square-instagram"></i>
				</div>
			</div>
		</div>

	</div>
</footer>