<footer>
	<div class="container">
		<div class="footer-bottom d-md-flex justify-content-md-between align-items-center">
			<div class="d-flex align-items-center bfa">
				<p class="m-0"><i class="fa-regular fa-copyright"></i>2022 Airdnd, Inc</p>
				<a href="javascript:;">隱私</a>
				<a href="javascript:;">相關條款</a>
				<a href="javascript:;">網站地圖</a>
			</div>
			<div class="d-flex">
				<div class="d-flex">
					<p class="m-0"><i class="fa-solid fa-earth-asia"></i>繁體中文 (TW)</p>
					<p class="m-0"><i class="fa-solid fa-dollar-sign"></i>TWD</p>
				</div>
				<div class="social d-flex">
					<i class="fa-brands fa-square-twitter"></i>
					<i class="fa-brands fa-line"></i>
					<i class="fa-brands fa-square-facebook"></i>
					<i class="fa-brands fa-square-instagram"></i>
				</div>
			</div>
		</div>
	</div>
</footer>