
@using Airdnd.ViewModel
@model UserWishListViewModel
<li class="col-12 col-md-6 col-xl-4">
    <a href="#">
        <div class="img-wrapper">
            <img src="@Model.WishList.ImgPath" alt="">
        </div>
        <div class="group-name">
            <span>@Model.WishList.ListName</span>
        </div>
    </a>
</li>